{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Paisajes</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime molestiae pariatur quos cum, aspernatur fugiat maiores. Quibusdam incidunt, nobis libero ipsam ratione sint aliquam. Incidunt, odit. Aspernatur a quisquam impedit.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/cielo.jpg" class="img-thumbnail" alt="Cielo">
    </div>
</div>

{{> foot}}